.box
  padding-top: 10px
  &__menu
    display: flex
    justify-content: space-between
    align-items: center
    background-color: rgba(250, 250, 250, 0.5)
    height: 50px
    &-logo
      width: 30px
      height: 30px
      border-radius: 10px
      margin-right: 20px
      margin-left: 20px

.logo
  display: flex
  justify-content: center
  text-transform: uppercase
  text-decoration: none
  align-items: center
  font-weight: 700
  letter-spacing: 1.02px
  cursor: pointer
  color: #000000
.nav
  &__item
    position: relative
    color: #000000
    text-decoration: none
    text-transform: uppercase
    transition: 0.2s
    display: inline-block
    margin-right: 1.2rem
    &::after //нижнее подчеркивание
      position: absolute
      content: ""
      display: block
      height: 2px
      background-color: #000000
      width: 0%
      left: 50%
      transition: width .3s ease-in-out
      transform: translateX(-50%)
    &:hover
      &:after
        width: 80%
.phone
  color: #000000
  font-size: 1.125rem
  font-weight: 700
  line-height: 2.333rem
  cursor: pointer
  &:hover
    color: $light


.contacts
  display: flex
  align-items: center
  &__phone
    margin-right: 2.8rem
   
  &__img
    width: 32px
    height: 32px
    margin-right: 10px
  &__img2
    width: 36px
    height: 36px
    margin-right: 10px

.btn
  padding: 0.8rem 1.99rem
  border: none
  border-radius: 30px
  font-size: 1rem
  font-weight: 500
  margin-right: 20px
  &:hover
    cursor: pointer
    background-color: #91a4a8
    box-shadow: none
  &--primary
    background-color: $light
    color: #000000
    transition: box-shadow 0.3s
  &:active, &:focus 
    outline: none
